#Set to yes to run the BAparser in daemon mode 
GLITE_CE_BAPARSER_DAEMON=yes

#Set to yes to run the BAparser in debug mode 
GLITE_CE_BAPARSER_DEBUG=

#BAparser spooldir
GLITE_CE_BAPARSER_DGASSPOOLDIR=

#BAparser listening port 
GLITE_CE_BAPARSER_PORT=37560

