#Supported batch systems
supported_lrms=pbs,lsf

#DGAS logfile 
BLAHPD_ACCOUNTING_INFO_LOG=

#Path where PBS executables are located 
pbs_binpath=/usr/pbs/bin

#Path where the PBS logs are located ($pbs_spoolpath/server_logs)
pbs_spoolpath=/usr/spool/PBS

#If it is set to no blah scripts for PBS will not try to read 
#locally from the logs if BLParser is not present
pbs_fallback=no

#Set to yes to use Blah Log Parser for PBS
pbs_BLParser=

#Host where Blah Log Parser for PBS is running
pbs_BLPserver=127.0.0.1

#Port where Blah Log Parser for PBS is running
pbs_BLPport=33332

#Number of Blah Log Parser to try for PBS (if it is null pbs_BLPserver and pbs_BLPport are used)
pbs_num_BLParser=
#
pbs_BLPserver1=
pbs_BLPport1=
#
pbs_BLPserver2=
pbs_BLPport2=

####

#Path where LSF executables are located 
lsf_binpath=/usr/local/lsf/bin

#Path where the LSF conf file is located ($lsf_confpath/lsf.conf)
lsf_confpath=/etc

#If it is set to no blah scripts for LSF will not try to read 
#locally from the logs if BLParser is not present
lsf_fallback=no

#Set to yes to use Blah Log Parser for LSF
lsf_BLParser=

#Host where Blah Log Parser for LSF is running
lsf_BLPserver=127.0.0.1

#Port where Blah Log Parser for LSF is running
lsf_BLPport=33333

#Number of Blah Log Parser to try for LSF (if it is null lsf_BLPserver and lsf_BLPport are used)
lsf_num_BLParser=
#
lsf_BLPserver1=
lsf_BLPport1=
#
lsf_BLPserver2=
lsf_BLPport2=
